<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <!--<form th:action="@{/info/${name}}" method="get" th:field="*{name}">
        <select th:onselect="name" id="myDropdown">
            <option th:each="el : ${ipce}" th:value="${el.getName()}" th:text="${el.getName}"></option>
        </select>
    </form>-->
</div>
<div style="overflow-x:auto;">
    <input type="text" id="Input" onkeyup="myFunction()" placeholder="Search for cpu name..">
    <table id="table" style="border-color: black">
        <tr>
            <th onclick="sortTable(0)">Наименование</th>
            <th onclick="sortTable(1)">Частота</th>
            <th onclick="sortTable(2)">Макс. частота</th>
            <th onclick="sortTable(3)">Кол. ядер</th>
            <th onclick="sortTable(4)">Кол. потоков</th>
            <th onclick="sortTable(5)">Сокет</th>
            <th onclick="sortTable(6)">Поддержка памяти</th>
            <th onclick="sortTable(7)">Интегрированная графика</th>
            <th onclick="sortTable(8)">Куллер в наличии</th>
            <th onclick="sortTable(9)">TDP</th>
        </tr>
        <tr th:each="el:${ipce}">
            <td th:text="${el.getName()}"/>
            <td th:text="${el.getFreq()}"/>
            <td th:text="${el.getMaxFreq()}"/>
            <td th:text="${el.getCors()}"/>
            <td th:text="${el.getThreads()}"/>
            <td th:text="${el.getSocket()}"/>
            <td th:text="${el.getMemory()}"/>
            <td th:text="${el.getIntegratedGraph()}"/>
            <td th:text="${el.isBox()}"/>
            <td th:text="${el.getTdp()}"/>
        </tr>
    </table>
    <br>
</div>
</body>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("Input");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("table");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
</html>