<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/defaultStyle.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js.js" th:inline="javascript"></script>
</head>
<body style="background-color: rgb(47,46,46)" onload="onload()">
<div>
    <a id="restore-button" class="button" onclick="reStore()" style="visibility: hidden">Удалить ЦПУ из
        выбранного</a>
</div>
<div>
    <input type="text" id="Input" onkeyup="myFunction()" placeholder="Search for cpu name..">
</div>
<div>
    <a id="comeBack" class="button" onclick="comeBack()">На главную</a>
</div>
<div class="div_style2">
    <div class="div_style" th:each="el : ${ipce}">
        <div th:with="idNaw=${el.getId()}">
            <h2 th:text="${el.getName()}">Процессор AMD Ryzen 9 7950X</h2>
            <p th:utext="'Количество ядер: ' + ${el.getCors()} + '  Частота: ' + ${el.getFreq()} + '  Макс.частота: ' + ${el.getMaxFreq()}">
                Ничего нет :(</p>
            <br>
            <p th:text="'От ' +${prices.get(el.getId())} + ' Руб.'"></p>
            <br>
            <a class="button" href="#" th:href="@{/cpuInfo/{id}(id = ${el.getId()})}" th:method="post">Информация</a>
            <a class="button" href="" th:attr="onclick=|store('${el.getId}')|">Выбрать</a>
        </div>
    </div>
</div>
</body>
</html>